parameters:
    level: 6
    paths:
        - config/
        - src/
        - tests/

    excludePaths:
        - src/Templates
        - vendor/*
        - tests/utils/*

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon